#file-library-tree {
  font-size: 16px;
  line-height: 22px;

  .file-tree-node {
    padding-left: 1em;
  }

  .file-node-open-state {
    width: 12px;
  }

  .file-node-icon {
    margin-right: 8px;
  }
}
